name: CD - Deploy Strapi ECS

on:
  workflow_run:
    workflows: ["CI - Build & Push Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform
          terraform init -reconfigure

      - name: Terraform Apply (Create Infra)
        run: |
          cd terraform
          terraform apply -auto-approve \
            -var="image_url=dummy"

      - name: Terraform Apply (Update with Real Image)
        run: |
          cd terraform
          terraform apply -auto-approve \
            -var="image_url=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com/sejal-ecs-task:${{ github.sha }}"
